.heading {
    text-align: center;
    color: blue;
  }
  
  .color1 {
    font-weight: bold;
    color: red;
    background-color: lightpink;
  }
  
  .color2 {
    font-weight: normal;
    color: green;
    background-color: lightgreen;
  }
  
  .color3 {
    font-weight: 700;
    color: purple;
    background-color: lavender;
  }
  
  .color4 {
    font-weight: lighter;
    color: orange;
    background-color: lightcoral;
  }
  